
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --color-principal: #ec3251;
    --color-secundario: #0d78be;
    --color-texto-titulos: #0d78be;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../assets/fondo2.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: 'Open Sans', sans-serif;
}

main{
    flex-grow: 1;
}

.menu{
    background-color: var(--color-principal);
}
footer{
    background-color: var(--color-principal);
}

.container-slider{
    position: relative;
}
.container-slider .wrapper-slider{
    width: 100vw;
    height: 65vh;
    overflow: hidden;
}
.container-slider .wrapper-slider-holder{
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 35s ease-in-out infinite alternate;
}
.container-slider #slider-img-1{
    background-image:url('../assets/bussines-group-people.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container-slider #slider-img-2{
    background-image:url('../assets/call-center.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container-slider #slider-img-3{
    background-image:url('../assets/team-working-2.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container-slider #slider-img-4{
    background-image:url('../assets/business-data-info.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container-slider .button-slider-holder .button-slider{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container-slider .button-slider-holder{
    position: absolute;
    left: 45%;
    bottom: 0%;
}
.button-slider:hover{
    box-shadow: 0px 0px 7px 4px rgba(13, 120, 190, 0.7);
}
@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
.container-slider #slider-info{
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin: 30vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
@media (min-width:1024px){
    .container-slider #slider-info{
        margin: 7vw auto;
    }
}
@media (min-width:390px) and (max-width:414px){
    .container-slider #slider-info{
        width: 300px;
        height: 150px;
    }
}
#slider-info p{
    margin: 0px;
    text-align: center;
}


h3{
    font-size: 24px;
    font-weight: 600;
}

p{
    font-size: 16px;
}

.description-service-wrapper{
    margin: 2% 10%;
    text-align: center;
}

.cards-container{
    padding: 16px;
    text-align: center;
    width: 100%;

    position: relative;
    background-image: url('../assets/fondo2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.card-container .card{
    position: relative;
    z-index: 2;
}

.cards-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card{
    width: 90%;
    height: 380px;
    max-width: 300px;
    min-width: 300px;
    margin: 10px auto;
    padding: 16px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 0;

    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 67, 177, 0.5);
    z-index: 1;
}

.card h3,
.card p{
    position: relative;
    color: white;
    z-index: 2;
    padding: 10px;
    text-align: center;
}

#card-1{
    background-image: url('../assets/bussines-meet.jpg');
}

#card-2{
    background-image: url('../assets/acount-bussiness.jpg');
}

#card-3{
    background-image: url('../assets/business-data-info.jpg');
}

#services-title{
    font-size: 40px;
    font-weight: 600;
    color: var(--color-texto-titulos);
}

/*Boton con modal*/
@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#modalBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10000;
}

#modalBtn button{
    padding: 0.5em 1em;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: var(--color-secundario);
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    
    animation: float 2s infinite ease-in-out;
}

.modal-fondo{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

#actionModal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.modalContent{
    text-align: center;
}

.modalContent ul{
    list-style: none;
    padding: 0;
}

.modalContent ul li {
    margin: 10px 0;
}

#actionModal button {
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

@media (min-width: 768px){

    .cards-wrapper{
        flex-direction: row;
        justify-content: center;
    }

    .card{
        width: 30%;
        margin: 10px 0;
    }

}

@media (min-width: 1024px){

    .cards-wrapper{
        flex-direction: row;
        justify-content: center;
    }
    .card{
        width: 20%;
        margin: 10px 0;
    }

}

